.display {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.display-template {
  flex-basis: 22%;
  border: 1px dotted;
  padding: 8px;
  margin: 5px;
}
.display-info {
  margin: 15px;
}
